@charset "utf-8"; 
#contForm{

    max-width: 50%;
    margin:auto; 
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}

#formulario{
    background-color: rgb(50, 81, 114);
    padding: 50px 50px 25px 25px;
    margin: 1px;
}

#enviar{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formulario label{
    color: whitesmoke;
    margin: 20px; 
}

#formulario input{
    color: black;   
    margin: 5px;
}

#menLargo{
    width: 200px;
    height: 75px;  
    
}
.mensCorto{
    width: 200px;
    height:25px; 
}

label{
    display: inline-block;
    width: 80px;
}