@charset "utf-8"; 
.container{
    margin:auto;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: #2d3e50;
    width: 800px;
    padding: 30px; 
    font: normal 20px bold;
    text-shadow: 0.1em 0.1em 0.2em black;
    color: white; 
}

.container ul, li{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
.container ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
    margin-bottom: 20px; 
}

.container ul.slider li{
    position: absolute;
    left: 0;
    top: 0;  
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    background: #2d3e50;
}

.container ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container ul.slider li:first-child{
    opacity: 1;

}

.container ul.slider li:target{
    opacity: 1;
}


.menu{
    text-align: center;
    margin-top: 40px; 
}

.menu li{
    display: inline-block; 
    text-align: center; 
    background: #2d3e50;
}

.menu li a{
    display: inline-block;
    color: black;  
    text-decoration: none;
    background-color: white;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 25px;    
}


#slide1 {
    text-align: center;
    margin-bottom: 6px;
}
#slide2 {
    text-align: center;
}
#slide3 {
    text-align: center;
}
#slide4 {
    text-align: center;
}

#slide1 img{
    height: 250px;
    width: auto;
}
#slide2 img{
    height: 265px;
    width: auto;
}
#slide3 img{
    height: auto;
    width: auto;
}
#slide4 img{
    height: 250px;
    width: auto;
}